.work h1 {
  margin: 0 0 20px 0;
  color: var(--heading-color-primary);
  font-size: 40px;
}
.work {
  background-color: var(--background-color1);
  padding-top: 40px;
  padding-bottom: 40px;
  height: calc(100vh - 90px);
}
@media (max-width: 991px) {
  .work {
    height: auto;
    min-height: calc(100vh - 90px);
  }
}
@media (max-width: 767px) {
  .work {
    min-height: calc(100vh - 80px);
  }
}

.work .container .filter {
  position: relative;
}
.work .container .filter .filter-icon {
  font-size: 20px;
  color: var(--fff);
  cursor: pointer;
  display: none;
}
@media (max-width: 767px) {
  .work .container .filter .filter-icon {
    display: block;
  }
}
.work .container .filter ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .work .container .filter ul {
    display: flex;
    position: absolute;
    top: 30px;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    z-index: 9999;
    transform: translateX(-120%);
    transition: 0.5s;
  }

  .work .container .filter ul.active {
    transform: translateX(0);
  }
}
.work .container .main-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 30px;
}
.work .container .main-content .box {
  background-color: var(--background-color2);
  padding: 20px 10px;
  border-radius: 10px;
}
.work .container .main-content .box:hover .image img {
  transform: scale(1.1);
}
.work .container .main-content .box .image {
  overflow: hidden;
}
.work .container .main-content .box .image img {
  width: 100%;
  transition: 0.3s;
}
.work .container .main-content .box h2 {
  color: var(--text-main-color);
}
.work .container .main-content .box .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.work .container .main-content .box .options button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--fff);
  font-size: 18px;
  transition: 0.3s;
}

.work .container .main-content .box .options button:hover {
  color: var(--text-main-color);
}
